<div ng-controller="dashboardController as DC" class="container">
   <div class="row">
      <h2 class="col-md-4">Hi <span ng-bind="DC.currentUser.name"></span>!</h2>
      <div class="col-md-7"></div>
      <div class="col-md-1">
         <a href="#/index">Logout</a>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3">
         <a href="#/new_question">Add a Question</a>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
         <div class="input-group">
            <span class="input-group-addon">Search</span>
            <input class="form-control" type="text" placeholder="search..." ng-model="filter_questions.name">
         </div>
      </div>
   </div>

   <table class="table table-bordered">
      <tr>
         <td>Question</td>
         <td>Answers</td>
         <td>Action</td>
      </tr>
      <tr ng-repeat="question in DC.questions | filter:filter_questions">
         <td ng-bind="question.name"></td>
         <td><span ng-bind="question.answers.length"></span></td>
         <td><a href="#/questions/{{question._id}}">Show</a> | <a href="#/question/{{question._id}}/new_answer">Answer</a></td>
      </tr>
   </table>
</div>
