<div ng-controller="usersController as UC">
   <div class="container">
      <br/><br/><br/><br/><br/><br/>
      <h2>Q&A</h2>
      <br/>
      <span ng-show="form.username.$dirty && form.username.$invalid">Name must be at least 3 characters</span>
      <form name="form">
         <div class="row">
            <div class="input-group col-md-6">
               <input class="form-control" type="text" ng-model="UC.userInfo.name" name="username" ng-minlength="3" required/>
               <span class="input-group-btn"><button class="btn btn-primary" ng-click="UC.login()" ng-disabled="form.username.$invalid">Enter</button></span>
            </div>
            <div class="col-md-6"></div>
         </div>
      </form>
   </div>
</div>
